@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: bodyfont;
  src: url(Montserrat-Regular.ttf);
  
}
@font-face {
  
  font-family: headingfont;
  src: url(Montserrat-Bold.ttf);
}

@font-face {
  
  font-family: footerheading;
  src: url(Montserrat-SemiBold.ttf);
}

a {
    /* color: none !important; */
}

a:hover {
   text-decoration: none !important;
   color: none !important;
}

body{
height: 100%;
margin:0;
font-family: bodyfont;
}

.row {
  margin-right:0;
  margin-left:0;
}
.logo{
    padding: 10px 38px !important;
}


.navbar-light .navbar-nav .nav-link {
    color:#28405B !important;
    font-size: 11px !important;
    font-family: headingfont !important;
    text-decoration: none !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #feb600  !important;
}


.sidebar ul li a {
    color:#28405B ;
    font-size: 14px ;
    font-family: headingfont ;
    text-decoration: none ;
    margin-left: 17px;
}

.sidebar ul li{
    border-bottom: 1px solid #e1dada;
}

.colorPar a{
    color: black;
}

.navbar-light .navbar-toggler {
    color:white !important;
    border-color: white !important;
}

/* The sidebar menu */
.sidebar {

    /* 100% Full-height */
    width: 0;
    /* 0 width */
    position: fixed;
    /* Fixed place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    /* Disable horizontal scroll */
    overflow-x: hidden;
    /* Place content 60px from the top */
    padding-top: 28px;
    /* margin-right: 10%; */
    border-radius: 13px;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
}

.sidebar ul li a:active {
  color: #ff9100;
}

/* Position and style the close
button at top right corner */
.sidebar .closebtn {
    position: absolute;
    top: -8px;
    right: 14px;
    font-size: 36px;
    margin-left: 50px;
    color: #ff9100;
}





/**************** Navbar ***************/
.navbar-light .navbar-nav .nav-link a {
    cursor: pointer;
}

.navbar-collapse {
    text-align: center;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    padding-left: 9%;
}
.navbar-toggle
{
  background:yellow ; /*Whatever colour you want for background */
}
@media screen and (max-width: 767px) {
    .contact-logo img {
        display: none;
    }
    .contact-social{
        display: none;
    }
    .contact-text-mobile{
        display: none;
    }

    /* .display-contact h6{
        font-size: 1.5vw;
    } */
  }


  

/********************************** about ********************/

.display-profile{
    display: flex;
}

.display-profile2 span{
    font-size: 12px;
    color:black;
}
.profile-orange{
    height: 169px;
}

.profile-blue{
    height: 800px;
    width: 100%;
    background-image: url(../images/profile-blue.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 80px;
}
.profile-blue h1{
    padding-left: 14%;
    font-size: 4vw;
}
.profile-blue :nth-child(1){
    color: #FF9100;
    font-family: headingfont;
}

.profile-blue :nth-child(2){
    color: white;
    padding-bottom: 33px;
    font-family: headingfont;
}

.profile-blue p{
    color: white;
    font-family: bodyfont;
    line-height: 187.1%;
    width: 75%;
    padding-left: 70px;
    font-size: 23px;
}

.profile-blue img{
    padding-left: 9%;
    padding-top: 10px;
}
.display-profile2{
    display: inline-block;
    padding-left: 3%;
}

.v-distance{
    padding-top: 203px;
}

.second-img{
    margin-left: 11vw;
    width: 68%;
}

.rotate-text{
    margin-top: 44px;
    margin-left: -92px;
    position: absolute;
    width: 215px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
}

.rotate-text2{
    margin-top: 222px;
    margin-left: -127px;
    position: absolute;
    width: 215px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.mobile-display img{
    display: none;
}



 

/*************************** skills **********************/

.skills-design img{
    width: 20%;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}


.skills-design span{
    font-family: bodyfont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vw;
    color: #FFFFFF;
    padding-left: 16px;
}

/*************************** team leaders ***********/

.teams{
   background-color: #28405B;
   position:relative;
   padding-bottom: 100px;
   margin-top: 38px;
   padding-top: 100px;
}

.img1{
    margin-left: 15%;
    padding-top: 32px;
    position: absolute;
    z-index: 50;
    margin-top: 18px;
    width: 90%;
}

.img1-text{
    margin-top: 172px;
    /* padding-left: 51%; */
    padding-bottom: 19px;
}

.img1-text h5{
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FF9100;
    line-height: 11px;
    font-family: headingfont;
}

.img1-text span{
    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #28405B;
    font-family: bodyfont;
}



.img2{
    margin-left: 22%;
    padding-top: 32px;
    width: 90%;
}

.img2-text{
    padding-top: 230px;
    padding-left: 16%;
}

.img2-text h5{
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FF9100;
    line-height: 11px;
    font-family: headingfont;
}

.img2-text span{
    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    font-family: bodyfont;
}


.img3{
    margin-left: 16%;
    margin-top: -68px;
    width: 100%;
}

.img3-text{
    margin-top: 80px;
    /* padding-left: 26%; */
}

.img3-text h5{
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FF9100;
    line-height: 11px;
    font-family: headingfont;
}

.img3-text span{
    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #28405B;
    font-family: bodyfont;
}

.section2 .dot{
    width: 23px;
    margin-left: 18%;
    height: 23px;
    background: #FF9100;
    position: absolute;
    border-radius: 50%;
    top: 35px;
}

.section2 .line-team{
    position: absolute;
    width: 100%;
     height: 0px;
     left: 0px;
     top: 130px;
     border-bottom: 3px solid #28405B;
}



/******************************* Contact Us *************************/
.contact-cover1{
    background-image: url(../images/index-contact1.svg);
    position: relative;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-cover{
    background-image: url(../images/index-blueContact2.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 44px;
}

.contact-title{
    margin-top: 59px;
    margin-left: 8%;
    font-size: 1.9rem;
}

.contact-title :nth-child(1){
    color: white;

}

.contact-title :nth-child(2){
    color: #FF9100;
}

.display-contact{
    display: block;
    color: white;
}

.display-contact h6{
    font-family: headingfont;
}

.display-contact span{
    position: relative;
    font-family: bodyfont;
    color:white;
}
.contact-details{
    display: flex;
}
.display-contact a  {
    text-decoration: none;
}

.contact-details img{
    width: 44px;
    height: 44px;
}

.contact-logo img{
    padding-left: 28%;
}

.contact-social img{
    cursor: pointer;
}
.contact-social span{
    cursor: pointer;
}
.contact-social a:hover {
    text-decoration: none;
}
.contact-social :nth-child(1){
    padding-bottom: 20px;
}
.contact-social span{
    color: white;
}
.contact-text2{
    margin-top: 286px;
    margin-left: -101px;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    width: 158px;

}



/****************************** projects ******************/
.section2 .line-project{
    position: absolute;
    width: 100%;
     height: 0px;
     left: 0px;
     top: 130px;
     border-bottom: 3px solid #28405B;
}

.style-p{
    font-family: bodyfont;
}


.img-text{
    font-family: bodyfont;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 140.2%;
    color: #000000;
    width: 72%;
}

.project-block{
    display: inline-flex;
    width:100%;
}

.project-block2{
    display: inline-flex;
    width:100%;
    margin-top: 35px;
}
.img-block1{
    margin-left: 18%;
    padding-top: 23px;
    position: relative;
    top: 30px;
}

.img-block1 img{
    /* height: 104vh; */
    width: 76%;
}

.img-block2{
    padding-top: 23px;
    margin-right: 5%;
    position: relative;
    top: 30px;
}

.img-block2 img{
    /* height: 104vh; */
    width: 76%;
}

.blue-back{
    background:url(../images/blue-background.png);
    height: 207px;
    width: 100%;
    margin-bottom: 136px;
}
.orange-style{
    display: inline-flex;
}

.orange-style :nth-child(1){
    height: 68px;
    margin-top: 26px;
    width: 10px;
 
}

.orange-style :nth-child(2){
    position: relative;
    top: 30px;
    width:100%;
}

.hr-style{
    width: 72%;
    margin-left: 11%;
}

.hr-Hight{
    margin-top: 109px;
}


.gray-background{
    background-image: url(../images/gray-back.png);
    background-repeat: no-repeat;
    padding-top: 134px;
}
.blue-background3{
    background:url(../images/blue-BackImg.svg);
    background-position-x: 11vw;
    /* background-position-y: 24vh; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: relative;
    
}
.display-contact h6{
    color:white;
}

 /******************** footer ***************/
 
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28405B;
    color: white;
    position: relative;
    margin-top: 158px;
 }

 .footer ul li a {
     color: white;
     font-family: footerheading;
 }

 .width-icon{
     width: 32px;
     position: relative;
 }

 .footer-mobile{
    display: none;
  }
 .footer hr{
     background-color: white;
 }



 .back-social :nth-child(1){
     position: relative;
     cursor: pointer;
     display: flex;
 }

 .back-social :nth-child(2){
    margin-left: -18px;
    margin-bottom: 1px;
    width: 46%;
    position: relative;
}

 .footer-copyright{
    font-family: bodyfont;
    font-size: 13px;
    color:white;
 }

 /******************** index *****************/
 .img-1 img{
    width: 72%;
}

.arrows-teams{
    display: none;
} 

.indexCom p{
    color:black;
    text-align: center;
}
.custom_btn{
    padding: 30px !important;
}
  .custom_btn button {
    color: white !important;
    background: #243A55;
    width: 138px;
    height: 42px;
    border: none;
    border-radius: 10px;
    font-family: headingfont;
    font-size: 12px;
    cursor: pointer;
  }

.banner1 .m_heading{
  font-size: 3.5vw;
  color: white;
  position: relative;
  top: 62px;
  margin-left: 23%;
  font-family: headingfont;
}
.banner1 .subheading{
    position: relative;
    top: 57px;
    margin-left: 23%;
    font-size: 3.5vw;
    color: #28405B;
    font-family: headingfont;
}
.banner1 p {
    color: #485057;
    position: relative;
    top: 77px;
    margin-left: 23%;
    line-height: 3vw;
    font-size: 1.3vw;
    font-family: bodyfont;
    font-style: normal;
    font-weight: normal;
}
.banner1 button{
  position: relative;
  width: 184px;
  height: 56px;
  margin-left: 23%;
  top: 99px;
  background: #243A55;
  border-radius: 10px;
  color: white;
  font-family: bodyfont;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
}

.main-back{
  background-image: url(../images/main-back.png);
  background-position-y: 427px;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
}


.first{
  background-image: url("../images/main-orange.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  height: 708px;
  position: relative;
  margin-top: 30px;
  height: 539px;
  background-position-x: 107px;
    width: 50vw;
    margin-bottom: 105px;
}

.second{
  background-image: url("../images/main-blue.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  height: 441px;
  position: relative;
  margin-top: 30px;
  background-position-y: 60px;
  width: 49vw;
}

.second :nth-child(1){
  width: 127px;
  position: relative;
  top: 92px;
  margin-left: 24px;
}

.second :nth-child(2){
  width: 126px;
  margin-left: -62px;
  top: 161px;
  position: relative;
}

.second :nth-child(3){
  width: 124px;
  margin-left: -49px;
  top: 230px;
  position: relative;
}


.second .bye{
  float: left;
  margin-left: -3px;
  position: relative;
  top: 350px;

}
.second .bye2{
  float: left;
  position: relative;
  top: 313px;
  width: 55%;
  height: 29px;
}
.second p{
  float: right;
  position: relative;
  top: 286px;
  margin-right: 11vw;
  font-family: bodyfont;
  font-style: normal;
  font-weight: normal;
}
 .section7 {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.section2 .heading1{
    padding-left: 28%;
    font-size: 60px;
    color: #FF9100;
    margin-bottom: 0;
    font-family: footerheading;
}
.section2 .heading2 {
    padding-left: 28%;
    font-size: 60px;
    color: #28405B;
    margin-top: 0;
    font-family: footerheading;
}
.section2 h2{
    font-family: headingfont;
    font-size: 22px;
    color: #FF9100;
    padding-left: 28%;
}
.section2 p{
    color:#485057;
    font-size: 22px;
   line-height: 172.2%;
    padding-left: 40px;
    font-family: bodyfont;

}

.about_us{
    background-image: url("../images/Group_991.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 680px;
    margin-top: 90px;
    position: relative;
    background-position-x: 30%;
}
.about_us .about1{
    position: relative;
    /* width: 32%; */

    background: #FFFFFF;
    border: 1px dashed #485057;
    box-sizing: border-box;
    padding: 0px 20px;
    top:-22px;
}
.about_us .about2{
    /* width: 32%; */
    background: #FF9100;
        padding: 0px 20px;
        box-sizing: border-box;
        top:-22px;
        position: relative;
}
.about_us .about3{
    /* width: 32%; */
    background: #FFFFFF;
    border: 1px dashed #485057;
    box-sizing: border-box;
        padding: 0px 20px;
        top:-22px;
        position: relative;
}
.about_us h3{
    font-size: 16px;
  font-weight: 600;
  color: #28405B;
  font-family: headingfont;
}
.about_us p{
font-size: 12px;
  line-height: 172.2%;
  color: #485057;
  padding: 0;
  font-family: bodyfont;
}

.section7 .heading2{
    padding-left: 35px;
    font-size: 70px;
    color: #FF9100;
    margin-top: 0;
    font-family: footerheading;
}
.section7 .heading1 {
    padding-left: 35px;
    font-size: 70px;
    color: #28405B;
    margin-bottom: 0;
    font-family: footerheading;
}
.team_leads{
    background-image: url("../images/Team leads.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.team_container{
    margin-top: 100px;
    padding-left: 7%;
}
.team_container h3 {
    color: #FF9100;
    font-size: 22px;
    font-family: headingfont;
    padding-top: 33px;
    margin-left: 5%;

}
.team_container p{
    font-size: 12px;
    color: white;
    font-family: bodyfont;
    padding-left: 5%;
}

.mainSkills-font{
  font-size: 1.3vw;
}

.main-contact{
    margin-top: 161px;
}

 .index-design span {
    font-family: bodyfont;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    padding-left: 16px;
}

.index-design img {
    width: 19%;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.index-leaders img{
    width:83% ;
     height: 310px;
}



.line-payments{
    position: absolute;
    width: 222px;
    height: 0px;
    left: 359px;
    top: 96px;
    border-bottom: 3px solid #28405B;
}

.payment-dot{
    width: 23px;
    margin-left: 4%;
    height: 23px;
    background: #FF9100;
    position: absolute;
    border-radius: 50%;
    top: 35px;
}

.payment-heading1{
        padding-left: 11%;
        font-size: 50px;
        color: #28405B;
        margin-top: 0;
        font-family: footerheading;
}

.payment-heading2 {
    padding-left: 11%;
    font-size: 50px;
    color: #FF9100;
    margin-bottom: 0;
    font-family: footerheading;
    position: relative;
    top:-14px;
}

.payment-p1{
    color: #485057;
    font-size: 20px;
    padding-left: 11%;
    font-family: bodyfont;
}

.par-code {
    padding-top: 6%;
}

.par-code1{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}


.par-code1{
    background-color: #e3e2e2;
    width: 50%;
    margin-left: 10%;
    padding-bottom: 1px;
    padding-top: 16px;
    border-radius: 22px;
}
.par-code1 img{
    width: 85%;
    /* margin-left: 2%; */
}

.payment-wallet img{
   position: absolute;
}
.payment-wallet h5{
    margin-left: 109px;
    margin-top: 9%;
    position: relative;
}
.link-payment{
    color: #ffb700;
    font-size: 14px;
    padding-left: 13px;
    /* top: 12px; */
    padding-top: 6px;
    text-decoration-line: underline;
    cursor: pointer;
}

.payment-wallet p{
    padding-left: 113px;
    color: #485057;
    font-family: bodyfont;
    /* width: 25px; */
    font-size: 1.1rem;
}



.par-1{
    font-size: 1.1rem;
    padding-left: 111px;
    color: #485057;
}

.par-2{
    font-size: 1.1rem;
    padding-left: 111px;
    position: relative;
    top: -13px;
    color: #485057;
}








/************************ carusal **************/

.img-2 img {
    width: 64%;
    /* height: 100vh; */
}


/* .indexCom :nth-child(1){
    width: 14px;
    position: relative;
    top: -43px;
} */

.indexCom :nth-child(2){
    width: 83%;
    padding-top: 13%;
}

.blueBack-index{
    background:url(../images/blue-background.png);
    height: 178px;
    width: 100%;
    margin-bottom: 136px;
}

.indexCom :nth-child(1) {
    width: 4%;
    position: relative;
    top: -33px;
}

.carousel-inner1 > .item {
    transform: translate3d(0,0,0) !important;
  }

.carousel-inner1 .carousel-item-right.active,
.carousel-inner1 .carousel-item-prev {
    transform: translateX(50%);
    transition:  ease-in-out;
    z-index:3;
    /* opacity: 0; */

}

 .carousel-inner1.carousel-item-left.active,
.carousel-inner1.carousel-inner .carousel-item-next {
    /* transform: translateX(-50%); */
    transition:  ease-in-out;

}


/* large - display 3 */
@media (min-width: 576px) {

    .container{
        padding-left: 10%;
    }

 

    .carousel-inner2 .carousel-item-right.active,
    .carousel-inner2 .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner2 .carousel-item-left.active,
    .carousel-inner2 .carousel-item-prev {
        transform: translateX(-33%);
    }
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}






@media screen and (max-width: 1024px) and (min-width: 992px) {

    .banner1 .subheading {
        margin-left: 26%;
        font-size: 3.2vw;
    }

    .banner1 .m_heading {
        font-size: 3.2vw;
        margin-left: 26%;
    }

    .banner1 p {
        top: 77px;
        margin-left: 28%;
    }
    .banner1 button{
        top: 151px;
        margin-left: 28%;
      }

      .second :nth-child(1) {
        width: 105px;
      }

      .second :nth-child(2) {
        width: 105px;
      }

      .second :nth-child(3) {
        width: 105px;
      }

    .blue-back {
        height: 159px;;
    }


    .about_us {
        height: 711px;
    }
 
    .second p {
        top: 289px;
        margin-right: 17%;
        font-size: 13px;
    }

    .container{
        padding-left: 10%;
    }


    .blueBack-index {
        height: 151px;
    }

    .indexCom :nth-child(1) {
        width: 4%;
        position: relative;
        top: -28px;
    }

    .indexCom :nth-child(2) {
        top: 0px;
        position: relative;
    }

    .img-text {
        font-size: 0.7rem;
        width: 64%;
    }

    .indexCom p {
        position: relative;
        top: 16px;
    }
}








@media screen and (max-width: 991px) and (min-width: 767px) {

    .payment-dot {
        width: 14px;
        margin-left: 1%;
        height: 14px;
        top: 11px;
    }

    .payment-heading1 {
        font-size: 37px;
    }

    .payment-heading2 {
        font-size: 37px;
        position: relative;
        top: -10px;
    }

    .payment-p1 {
        font-size: 15px;
    }

    .line-payments {
        width: 30%;
        height: 0px;
        left: 262px;
        top: 72px;
    }

    .payment-wallet img {
        width: 70px;
    }

    .payment-wallet h5 {
        margin-left: 24%;
        margin-top: 9%;
        font-size: 17px;
        font-weight: 600;
    }

    .link-payment {
        font-size: 15px;
        padding-left: 5px;
        padding-top: 6px;
    }

    .payment-wallet p {
        padding-left: 24%;
        font-size: 1rem;
    }
    .par-1{
        font-size: 1rem;
        padding-left: 24%;
    }

    .par-2{
        position:relative;
        font-size: 1rem;
        padding-left: 24%;
        top:-15px;
    }

    .par-code1 {
        width: 50%;
    }
    .par-code1 p{
        font-size: 0.7rem;
    }
    .container{
        padding-left: 10%;
    }

    .indexCom :nth-child(2) {
        position: relative;
        top: -8px;
    }

    .indexCom p {
        position: relative;
        top: 21px;
    }

    .blueBack-index {
        height: 153px;
    }


    .blue-backIndex {
        height: 150px;
    }

    .profile-blue h1 {
        font-size: 5vw;
    }

    .profile-blue p {
        line-height: 179.1%;
        width: 75vw;
        padding-left: 14%;
        font-size: 2.5vw;
    }

    .profile-blue {
        height: 614px;
    }

    .rotate-text{
        display: none;
    }
    .rotate-text2{
        display: none;
    }
    .v-distance {
        padding-top: 44px;
    }

    .second-img {
        width: 89%;
        padding-left: 0;
    }


 .about_us{
    background-position-x: 14%;
    height:675px;
 }


 .about_us p {
    font-size: 10px;
}
.about_us h3 {
    font-size: 14px;
}

.about_us .about3  {
    /* width: 48%; */
    top: -38px;
}

.about_us .about2  {
    top: -38px;
    /* width: 48%; */
}

.about_us .about1  {
    /* width: 48%; */
    top: -38px;
}

/*******teams********/

.section2 .line-team{
    position: absolute;
    top: 0px;
}

.section2 .heading1 {
    padding-left: 18%;
    font-size: 6vw;
}

.section2 .heading2 {
    padding-left: 18%;
    font-size: 6vw;
}
.section2 .dot{
    width: 25px;
    height: 24px;
    margin-left: 3%;
    top: 44px;
}
.img3-text {
    margin-top: 84px;
    padding-left: 0;
}

.img2-text {
    padding-top: 80px;
}
.img1 {
    margin-top: 65px;
}
/********** projects **************/

.section2 .line-project{
    position: absolute;
    top: 85px;
}

.section2 .heading1 {
    padding-left: 18%;
    font-size: 5vw;
}

.section2 .heading2 {
    padding-left: 18%;
    font-size: 5vw;
}
.section2 h2 {
    padding-left: 18%;
    font-size: 2vw;
}
.section2 .dot{
    width: 25px;
    height: 24px;
    margin-left: 3%;
    top: 44px;
}
.blue-back {
    height: 123px;
}

/******************* index **************/
.img-1 img{
    width: 100%;
}

    .img-text {
        width: 70%;
        font-size: 0.7rem;
    }
    .section2 p {
        font-size: 19px;
    }
.banner1 .m_heading{
    font-size: 3vw;
    top: 110px;
    margin-left: 19%;
  }
  .banner1 .subheading{
    font-size: 3vw;
    top: 110px;
    margin-left: 19%;
  }
  .banner1 p {
    margin-left: 19%;
    line-height: 28px;
    font-size: 12px;
    top: 142px;
  }
  .banner1 button{
    width: 111px;
    height: 40px;
    margin-left: 16%;
    font-size: 13px;
    top: 183px;
  }
  
  .main-back{
    background-position-y: 427px;
    background-repeat: no-repeat;
    display: flex;
  }
  
  
  .first{
    background-position-x: 49px;
  }
  
  .second{
    background-image: url("../images/main-blue.png");
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 441px;
    position: relative;
    margin-top: 30px;
    background-position-y: 60px;
    width: 49vw;
  }
  
  .second :nth-child(1){
    width: 100px;
    position: relative;
    top: 98px;
    margin-left: 133px;
  }
  
  .second :nth-child(2){
    width: 100px;
    margin-left: -62px;
    top: 161px;
    position: relative;
  }
  
  .second :nth-child(3){
    width: 100px;
    margin-left: -49px;
    top: 230px;
    position: relative;
  }
  
  
  .second .bye{
    top: 306px;
    height: 133px;
  
  }
  .second .bye2{
    float: left;
    position: relative;
    top: 339px;
    width: 59%;
    height: 29px;
  }
  .second p{
    float: right;
    position: relative;
    top: 317px;
    margin-right: 15%;
    font-size: 12px;
  }

.main-dist{
    margin-bottom: 137px;
    height: 214px;
}
.index-design span {
    font-size: 1.5vw;
    padding-left: 11px;
}
.index-leaders img{
    width:100% ;
    height: 175px;
}

.team_container h3 {

    font-size: 13px;
    margin-top: 22px;
    padding-left: 16%;

}

.team_container p {
    width: 84%;
    font-size: 9px;
    padding-left: 18%;
}
.footer-mobile{
    display: none;
  }

  .footer-mobile ul li a{
    font-size: 1.2vw;
}
.footer ul li a {
    color: white;
    font-size: 1.1vw;
}

/* .blueBack-index{
    height: 111px;
} */

.indexCom :nth-child(2) {
    width: 100%;
    padding-top: 22px;
}

.indexCom :nth-child(1) {
    width: 4%;
    position: relative;
    top: 53px;
}


.arrows img{
    width: 22%;
}

.contact-cover {
    margin-top: 27px;
}

.contact-text-mobile img{
    margin-top: 27px;
}

.contact-text2 {
    margin-top: 327px;
}

.display-contact span {
    font-size: 12px;
}

.display-contact h6 {
    font-size: 16px;
}


.custom_btn button {
    width: 133px;
    height: 42px;
    font-size: 12px;
    margin-left: 12%;
}






  }


@media screen and (max-width: 766px) and (min-width: 576px)  {


    .payment-dot {
        width: 14px;
        margin-left: 1%;
        height: 14px;
        top: 11px;
    }

    .payment-heading1 {
        font-size: 37px;
    }

    .payment-heading2 {
        font-size: 37px;
        position: relative;
        top: -10px;
    }

    .payment-p1 {
        font-size: 15px;
    }

    .line-payments {
        width: 36%;
        height: 0px;
        left: 287px;
        top: 72px;
    }

    .payment-wallet img {
        width: 60px;
    }

    .payment-wallet h5 {
        margin-left: 13%;
        margin-top: 9%;
        font-size: 21px;
        font-weight: 600;
    }

    .link-payment {
        font-size: 15px;
        padding-left: 5px;
        padding-top: 6px;
    }

    .payment-wallet p {
        padding-left: 13%;
        font-size: 1rem;
    }
    .par-1{
        font-size: 1rem;
        padding-left: 13%;
    }

    .par-2{
        position:relative;
        font-size: 1rem;
        padding-left: 13%;
        top:-15px;
    }

    .par-code1 {
        width: 50%;
    }
    .par-code1 p{
        font-size: 0.7rem;
    }
 

    .container{
        padding-left: 10%;
    }

    .footer ul li a {
        font-size: 13px;
    }



    .blue-backIndex {
        height: 122px;

    }

    .profile-blue h1 {
        font-size: 6vw;
    }

    .profile-blue p {
        line-height: 179.1%;
        width: 75vw;
        padding-left: 14%;
        font-size: 3vw;
    }

    .profile-blue {
        height: 614px;
    }

    .rotate-text{
        display: none;
    }

    .rotate-text2{
        display: none;
    }

    .v-distance {
        padding-top: 44px;
    }

    .second-img {
        width: 89%;
        padding-left: 0;
    }
    .section2 p {
        font-size: 17px;
        padding-left: 0px;
    }
    .about_us{
        background-image: none;
        height: 532px;
    }
    .mobile-display img{
        display: block;
        padding-left: 10%;
        width: 94%;
        padding-right: 10%;
        margin-top: 59px;
    }

    .about_us .about1 {
        width: 77%;}

    .about_us .about2 {
         width: 77%;}

    .about_us .about3 {
          width: 77%;}


     /*******teams*****/

     .img2-text {
        padding-top: 15vh;
        padding-left: 16%;
    }
     
     .section2 .line-team{
        position: absolute;
        top: 0px;
    }
    .section2 .heading1 {
        padding-left: 23%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 23%;
        font-size: 4vw;
    }
    .section2 .dot{
        width: 17px;
        height: 17px;
        margin-left: 3%;
        top: 22px;
    }
    .img1 {
        padding-top: 105px;
    }
    .img1-text h5 {
        font-size: 4vw;
    }

    .img2-text  h5 {
        font-size: 4vw;
    }
    .img3-text {
        margin-top: 33px;
        padding-left: 0;
    }

    /***********projects **********/

    .section2 .line-project{
        position: absolute;
        top: 60px;
    }
    .section2 .heading1 {
        padding-left: 23%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 23%;
        font-size: 4vw;
    }
    .section2 .dot{
        width: 17px;
        height: 17px;
        margin-left: 3%;
        top: 22px;
    }
    .section2 h2{
        padding-left: 22%;
        font-size: 3vw;
    }

    .orange-style :nth-child(1) {
        height: 39px;
        margin-top: 19px;
        width: 9px;
    }
    .orange-style :nth-child(2) {
        position: relative;
        top: 17px;
    }
    .blue-back {
        height: 199px;
    }

    /***** index ***********/
    .img-1 img{
        width: 100%;
    }

    .img-text {
        font-size: 0.8rem;
        line-height: 138.2%;
        width: 100%;
    }

    .contact-cover1 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 87vh;
        top: -19px;
    }
    .arrows img{
        width: 22%;
    }

    .desktop-main{
        display: block;
      }

    .main-back{
        display: block;
        background-position-y: 662px;
      }

      .first {
        height: 708px;
        margin-top: 30px;
        height: 387px;
        width: 100%;
        margin-bottom: 0;
        background-position-x: 0px;
        background-size: cover;
      }

      .banner1 .m_heading {
        font-size: 5.5vw;
        top: 22px;
        margin-left: 5%;
    }
    .banner1 .subheading {
        top: 37px;
        margin-left: 6%;
        font-size: 4.5vw;
    }

    .banner1 p {
        top: 58px;
        margin-left: 7%;
        line-height: 4vw;
        font-size: 2.5vw;
    }

   .banner1 button {
    width: 124px;
    height: 49px;
    margin-left: 6%;
    top: 58px;
    border-radius: 10px;
   }

   .second {
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 546px;
    position: relative;
    margin-top: -23px; 
    background-position-y: 0;
     width: 100%;
     margin-bottom: 47px;
}

.second .bye {
    top: -3px;
    margin-left: 3%;
    z-index: 50;
    height: 132px;
}
.second .bye2{
    float: right;
    position: relative;
    top: -142px;
    width: 81%;
}

.second p {
    float: left;
    position: relative;
    top: 242px;
    margin-left: 4%;
    color: white;
    text-decoration-line: underline;
}

.second :nth-child(1) {
    margin-left: 67px;
}

    .main-dist{
        margin-bottom: 137px;
        height: 198px;
    }

    .mobile-skill {
        display: none;
    }
    .index-design span {
        font-size: 1.5vw;
        padding-left: 9px;
    }
    .index-leaders img {
        width: 100%;
        height: 201px;
    }
    .footer-desktop{
        display: none;
      }
      .footer-mobile{
        display: block;
    }

    .team_container h3 {
        font-size: 16px;
        margin-top: 19px;
    }

    .team_container p {
        font-size: 9px;
    }
    
    .index-leaders img {
        height: 177px;
    }
/**************** contact ****************/
    .height-img-contact{
    height: 367px;
     }

     .custom_btn button {
        width: 133px;
        height: 42px;
        font-size: 12px;
        margin-left: 12%;
    }


}


@media screen and (max-width: 575px) and (min-width: 320px)  {

    .payment-dot {
        width: 14px;
        margin-left: 1%;
        height: 14px;
        top: 11px;
    }

    .payment-heading1 {
        font-size: 25px;
    }

    .payment-heading2 {
        font-size: 25px;
        position: relative;
        top: -10px;
    }

    .payment-p1 {
        font-size: 11px;
    }

    .line-payments {
        width: 23%;
        height: 0px;
        left: 199px;
        top: 49px;
    }

    .payment-wallet img {
        width: 50px;
    }

    .payment-wallet h5 {
        margin-left: 24%;
        margin-top: 9%;
        font-size: 12px;
        font-weight: 600;
    }

    .link-payment {
        font-size: 12px;
        padding-left: 5px;
        padding-top: 6px;
    }

    .payment-wallet p {
        padding-left: 24%;
        font-size: 0.5rem;
    }
    .par-1{
        font-size:0.7rem;
        padding-left: 24%;
    }

    .par-2{
        position:relative;
        font-size:0.7rem;
        padding-left: 24%;
        top:-15px;
    }

    .par-code1 {
        width: 50%;
    }
    .par-code1 p{
        font-size: 0.7rem;
    }

    .sidebar .closebtn {
        right: 6px;
        font-size: 37px;
    }
    .sidebar ul li a {
      font-size: 11px;
    }


    /* .carousel-inner .carousel-item>div {
        display: flex;
    } */

    .carousel-inner1 > .item {
        transform: translate3d(0,0,0) !important;
      }
    
    .carousel-inner1 .carousel-item-right.active,
    .carousel-inner1 .carousel-inner.carousel-item-prev {
        /* transform: translateX(33%); */
        transition: 0ms ease-in-out;
        z-index:3;
        opacity: 0;
    
    }
    
     .carousel-inner1.carousel-item-left.active,
    .carousel-inner1.carousel-inner .carousel-item-next {
        /* transform: translateX(20px); */
        transition: 0ms ease-in-out;
        z-index:3;
        opacity: 0;
    
    }


    .carousel-inner2 > .item {
        transform: translate3d(0,0,0) !important;
      }
    
    .carousel-inner2 .carousel-item-right.active,
    .carousel-inner2 .carousel-inner.carousel-item-prev {
        transform: translateX(-100%);
        /* transition: 0ms ease-in-out; */
        z-index:3;
        opacity: 0;
    
    }
    
     .carousel-inner2.carousel-item-left.active,
    .carousel-inner2.carousel-inner .carousel-item-next {
        transform: translateX(100%);
        /* transition: 0ms ease-in-out; */
        z-index:50;
        opacity: 0;
    
    }





    .index-design{
        padding-left: 4px;
    }
    .lang{
        padding-left: 0;
        padding-right: 5px;
    }

    .container{
        padding-left: 13%;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: flex;
    }
    

    .navbar-light .navbar-nav .nav-link {
        font-size: 9px !important;
    }


    .indexCom :nth-child(1) {
        top: -45px;
    }


    .profile-blue h1 {
        font-size: 7vw;
    }

    .profile-blue p {
        line-height: 179.1%;
        width: 75vw;
        padding-left: 14%;
        font-size: 4vw;
    }

    .profile-blue {
        height: 614px;
    }

    .rotate-text{
        display: none;
    }

    .rotate-text2{
        display: none;
    }

    .v-distance {
        padding-top: 44px;
    }

    .second-img {
        width: 89%;
        padding-left: 0;
    }

    .section2 p {
        font-size: 15px;
        padding-left: 0px;
    }

    .about_us{
        background-image: none;
        height: 560px;
    }
    .mobile-display img {
        display: block;
        padding-left: 10%;
        width: 94%;
       margin-top: 81px;
    }

    .about_us .about1 {
        width: 90%;}

    .about_us .about2 {
         width: 90%;}

    .about_us .about3 {
          width: 90%;}

    /******teams******/

    .teams {
        padding-bottom: 8vh;
        margin-top: 0px;
        padding-top: 8vh;
    }

    .img2-text {
        padding-top: 30px;
    }
    
    .section2 .line-team{
        position: absolute;
        top: 0px;
    }
    .section2 .heading1 {
        padding-left: 23%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 23%;
        font-size: 4vw;
    }
    .section2 .dot{
        width: 13px;
        height: 13px;
        top: 14px;
        margin-left: 0;
    }
    .img1-text  {
        padding-left: 0;
        margin-top: 192px;
        padding-bottom: 18px;
    }
    .img1-text  h5 {
        font-size: 13px;
        line-height: 0;
    }

    .img1-text  span {
        font-size: 7px;
    }


    .img2 {
        margin-left: 0;
        padding-top: 0px;
    }

    .img2-text  h5 {
        font-size: 13px;
    }

    .img2-text span {
        font-size: 7px;
    }

    .img3-text  h5 {
        font-size: 13px;
        line-height: 0;
    }

    .img3-text span {
        font-size: 7px;
    }
    .img1 {
        margin-left: 5%;
        padding-top: 0px;
        top: 117px;
    }


    .img3 {
        margin-left: 4%;
        margin-top: -40px;
    }

    .img3-text {
        margin-top: 33px;
        padding-left: 0;
    }

    /************** projects*******/

    .section2 .line-project{
        position: absolute;
        top: 42px;
    }
    .section2 .heading1 {
        padding-left: 22%;
        font-size: 4vw;
    }

    .section2 .heading2 {
        padding-left: 22%;
        font-size: 4vw;
    }

    .section2 h2{
        padding-left: 22%;
        font-size: 3vw;
    }
    .section2 .dot{
        width: 13px;
        height: 13px;
        top: 14px;
        margin-left: 0;
    }

    .top-dis{
       margin-bottom: 700px;
       background-image: none;
    }
    .hr-display{
        display: none;
    }
    
    .gray-background{
        background-image: none;
    }

    .blue-background3{
        background-image: none;
    }
    .project-block{
        display: block;
    }

    .project-block2{
        display: block;
    }

    .img-block1{
        /* padding-left: 17%; */
        padding-top: 8px;
        width: 97%;
        display: block;
        margin-left: 23%;
    }

    .img-block2{
        /* padding-left: 17%; */
        padding-top: 50px;
        width: 97%;
        display: block;
        margin-left: 23%;
    }

    /******************** index ********************/

    .img-2{
        padding-left: 12%;
    
    }
    .img-2 img {
        /* height: 100vh; */
        width:60%;
    }
    .img-text {
        width: 70%;
        /* padding-left: 12%; */
        font-size: 10px;
    }

    .indexCom p{
        font-size: 11px;
        text-align: center;
    }

    
    .about_us h3 {
        font-size: 14px;
    }

    .about_us p {
        font-size: 10px;
    }

    .arrows-teams{
        display: initial;
    } 

    .contact-cover1 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 345px;
    }
    .img-1 img{
        width: 74%;
    }

    .desktop-main{
        display: none
    }
    
    .main-back{
        display: block;
        background-position-y: 662px;
      }

      .first {
        height: 708px;
        margin-top: 30px;
        height: 333px;
        width: 100%;
        margin-bottom: 0;
        background-position-x: 0px;
        background-size: cover;
      }

      .banner1 .m_heading {
        font-size: 23px;
        top: 22px;
        margin-left: 5%;
    }
    .banner1 .subheading {
        top: 24px;
        margin-left: 6%;
        font-size: 23px;
    }

    .banner1 p {
        top: 45px;
        margin-left: 7%;
        line-height: 21px;
        font-size: 12px;
        font-family: bodyfont;

    }

   .banner1 button {
    width: 90px;
    height: 34px;
    margin-left: 6%;
    top: 75px;
    border-radius: 10px;
    font-size: 10px;
   }

   .header-logo img{
    width: 162px;
   }

   .custom_btn button {
    width: 88px;
    height: 30px;
    font-size: 8px;
    margin-left: 9%;
}
   .second {
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 290px;
    position: relative;
    margin-top: -23px; 
    background-position-y: 0;
     width: 100%;
     margin-bottom: 47px;
}

.second .bye {
    top: -5px;
    margin-left: 4%;
    z-index: 50;
    height: 21vw;
    position: absolute;
}
.second .bye2{
    float: right;
    position: relative;
    top: -3px;
    width: 90%;
}

.second p {
    float: left;
    position: relative;
    top: 235px;
    margin-left: 4%;
    color: white;
    text-decoration-line: underline;
    font-family: bodyfont;
    font-size: 9px;
  
}

.second :nth-child(1) {
    margin-left: 39vw;
    width: 19vw;
    position: absolute;
    top: 46px;
}

.second :nth-child(2){
    width: 20vw;
    margin-left: 49vw;
    top: 94px;
    position: absolute;
}
.second :nth-child(3){
    width: 20vw;
    margin-left: 62vw;
    top: 141px;
    position: absolute;
}

    .arrows img{
        width: 40%;
    }

    .main-dist{
        margin-bottom: 100px;
    }

    .mobile-skill {
        display: none;
    }
    .index-design span {
        font-size: 0.4rem;
        padding-left: 3px;
    }
    .index-leaders img {
        height: 201px;
    }
    .team_container h3 {
        font-size: 16px;
        padding-left: 16%;
         margin-top: 16px;
    }

    .team_container p {
        font-size: 8px;
        text-align: center;
        width: 82%;
    }    

 


    .blueBack-index {
        background-image: none;
        height: 159px;
       margin-bottom: 15px;
    }

    .indexCom{
        padding-left: 11%;
    }
    .indexCom :nth-child(2) {
        width: 69%;
        padding-top: 6%;
        margin-left: 3%;
    }
    .indexCom p{
        padding-top: 17px;
        color: black;
        margin-left: -13%;
        font-size: 13px;

    }

    /*******************footer ***********/
    .footer-copyright{
        font-size: 2.5vw;
    }

    .footer {
        margin-top: 61px;
    }
    .footer ul li a {
        font-size: 11px;
    }
    .footer-desktop{
      display: none;
    }
    .footer-mobile{
        display: block;
    }

    /************ contact *********/
    .display-contact span {
        font-size: 11px;
        color:white;
    }
 

    .height-img-contact{
        height: 367px;
         }
    
}









